<!-- main -->
<section class = "section-one">
    <div class = "container">
        <div class = "sec-one-left">
            <div>
                <p>{{data.my_thoughts}}</p>
            </div>
        </div>
  
        <div class = "sec-one-right">
            <div class = "work-content">
                <h3>AMAZING TEAM WORK WITH PROFESSIONAL PHOTOGRAPHER</h3>
                <p>{{data.my_team}}</p>
            </div>
            <div class = "work-imgs">
                <div class = "work-img-1">
                </div>
                <div class = "work-img-2">
                </div>
            </div>
            <h3>"{{data.my_quote}}"</h3>
        </div>
    </div>
  </section>
  
  <section class = "section-two">
    <div class = "container">
        <h2>FOLLOW ON INSTAGRAM</h2>
        <span>@sateesh_p</span>
        <div class = "insta-imgs">
            <div>
                <img src = "assets/images/insta-1.jpg">
                <div class = "icon-overlay flex">
                    <i class = "fab fa-instagram"></i>
                </div>
            </div>
            <div>
                <img src = "assets/images/insta-2.jpg">
                <div class = "icon-overlay flex">
                    <i class = "fab fa-instagram"></i>
                </div>
            </div>
            <div>
                <img src = "assets/images/insta-3.jpg">
                <div class = "icon-overlay flex">
                    <i class = "fab fa-instagram"></i>
                </div>
            </div>
            <div>
                <img src = "assets/images/insta-4.jpg">
                <div class = "icon-overlay flex">
                    <i class = "fab fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- end of main -->