  <!-- main -->
  <section class = "section-four">
    <div class = "container">
        <div class = "blogs">
            <div class = "blog-wrapper-lg">
                <!-- single blog post -->
                <div class = "blog">
                    <img src = "assets/images/blog1.jpg">
                    <div class = "blog-content">
                        <span class = "badge">Photography</span>
                        <span class = "misc-info">
                          
                        </span>
                        <h3 class = "blog-title">
                            Best Photography Tips For Beginners
                        </h3>
                        <p class = "blog-text">
                            {{tipsData.photography}}
                        </p>
                        <!-- <a href = "#" class = "btn">Read More</a> -->
                    </div>
                </div>
                <!-- end of single post -->

                <!-- single blog post -->
                <div class = "blog">
                    <img src = "assets/images/blog2.jpg">
                    <div class = "blog-content">
                        <span class = "badge">Editing</span>
                        <span class = "misc-info">
                           
                        </span>
                        <h3 class = "blog-title">
                            Editing Tips For Beginners
                        </h3>
                        <p class = "blog-text">
                            {{tipsData.editing}}
                        </p>
                        <!-- <a href = "#" class = "btn">Read More</a> -->
                    </div>
                </div>
                <!-- end of single post -->
            </div>

   

             
            
        </div>
    </div>
</section>
<!-- end of main -->