 <!-- main -->
 <section class = "section-three">
    <div class = "container">
        <div class = "gallery">
            <a href = "assets/images/gallery1.jpg">
                <div class = "single-img">
                    <img src = "assets/images/gallery1.jpg" alt = "gallery image">
                    <div class = "single-img-content">
                        <h3>Beautiful Work</h3>
                    </div>
                </div>
            </a>

            <a href = "assets/images/gallery2.jpg">
                <div class = "single-img">
                    <img src = "assets/images/gallery2.jpg" alt = "gallery image">
                    <div class = "single-img-content">
                        <h3>Beautiful Work</h3>
                    </div>
                </div>
            </a>

            <a href = "assets/images/gallery3.jpg">
                <div class = "single-img">
                    <img src = "assets/images/gallery3.jpg" alt = "gallery image">
                    <div class = "single-img-content">
                        <h3>Beautiful Work</h3>
                    </div>
                </div>
            </a>

            <a href = "assets/images/gallery4.jpg">
                <div class = "single-img">
                    <img src = "assets/images/gallery4.jpg" alt = "gallery image">
                    <div class = "single-img-content">
                        <h3>Beautiful Work</h3>
                    </div>
                </div>
            </a>

            <a href = "assets/images/gallery5.jpg">
                <div class = "single-img">
                    <img src = "assets/images/gallery5.jpg" alt = "gallery image">
                    <div class = "single-img-content">
                        <h3>Beautiful Work</h3>
                    </div>
                </div>
            </a>

            <a href = "assets/images/gallery6.jpg">
                <div class = "single-img">
                    <img src = "assets/images/gallery6.jpg" alt = "gallery image">
                    <div class = "single-img-content">
                        <h3>Beautiful Work</h3>
                    </div>
                </div>
            </a>

            <a href = "assets/images/gallery7.jpg">
                <div class = "single-img">
                    <img src = "assets/images/gallery7.jpg" alt = "gallery image">
                    <div class = "single-img-content">
                        <h3>Beautiful Work</h3>
                    </div>
                </div>
            </a>

            <a href = "assets/images/gallery8.jpg">
                <div class = "single-img">
                    <img src = "assets/images/gallery8.jpg" alt = "gallery image">
                    <div class = "single-img-content">
                        <h3>Beautiful Work</h3>
                    </div>
                </div>
            </a>

            <a href = "assets/images/gallery9.jpg">
                <div class = "single-img">
                    <img src = "assets/images/gallery9.jpg" alt = "gallery image">
                    <div class = "single-img-content">
                        <h3>Beautiful Work</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- end of main -->